@import "../common/colors/_colors.scss";
.Sidebar {
	background-color: #fff;
	padding: 25px;
	font-size: 0.84em;
	position: relative;

	h2 {
		text-align: left;
		font-size: 1.3em;
		padding: 6px 0;
		font-weight: 700;
		color: $black;
		border-bottom: 1px dashed $light-grey;
	}

	a.Pobierz-Cv {
		background-color: #B6ECF9;
		padding: 7px 14px;
		position: absolute;
		font-size: 0.9em;
		text-decoration: none;
		color: #000;
		bottom: -29px;
		right: 0;

		&:hover {
			background-color: #1F94EA;
		}
	}
}
