
.SectionGoal {
	background: url('../../images/44.png');
	background-size: cover;
	min-height: 520px;
	padding: 30px;
	position: relative;

	.App-logo {
		animation: App-logo-spin infinite 20s linear;
		height: 70px;
		position: absolute;
		bottom: 170px;
		perspective: 280px;
		transform-style: preserve-3d;
		transform: rotateX(-40deg) rotateY(32deg);
		transform: rotateX( 90deg);
		left: 265px;
	}

	p {
		width: 60%;
		padding-top: 40px;
		padding-left: 10px;
		font-size: 1em;
		text-align: justify;
		line-height: 21px;
		font-weight: lighter;
		color: #a6aaad;
	}
	@media screen and (min-width: 1400px) {
		p {
			width: 50%;
			line-height: 24px;
		}
	}

}
