
.SectionSkills {
		margin-top: 20px;
		background: #fff;
		padding-bottom: 20px;
}
.SkillWrapper {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding-left: 40px;
	margin-top: 70px;
}

ul.Legend-Skills {
		padding: 0;
		align-items: center;
		justify-content: center;
		display: flex;
		font-size: 0.85em;

		li {
			display: inline-block;

			&:first-child, &:last-child {
				margin: 0 15px;
			}
		}

		div {
			width: 40px;
			height: 20px;
			margin: 0
		}
		.Low {
			background: #cff4f9;
		}
		.Basic {
			background: #76bfcc;
		}
		.Medium {
			background: #3a8a99;
		}
		.High {
			background: #1a6572;
		}

}
p.Star {
	font-size: 0.9em;
}
