.Skill {
	width: 25%;
	height: 50px;
	text-align: left;
		li {
			list-style-type: none;
			display: inline-block;
			padding-left: 15px;
		}
		div {

		}
		.Low {
			border-left: 20px solid #cff4f9;
		}
		.Basic {
			border-left: 20px solid #76bfcc;
		}
		.Medium {
			border-left: 20px solid #3a8a99;
		}
		.High {
			border-left: 20px solid #1a6572;
		}
}
