@import "../../common/colors/_colors.scss";
.HeadSection {
	text-align: left;
	// border-left: 1px solid #e4e4e4;
	// border-top: 1px solid #e4e4e4;
	// border-right: 1px solid #e4e4e4;
	padding: 5px 20px;
	background: #b6ecf9;

	h3 {
		margin: 4px 0;
		font-weight: 200;
		font-size: 1em;
		color: $smooth-black;
	}
}
