@import "../../../common/colors/_colors.scss";
.EducationBox {
	padding: 0 20px;
	margin: 15px 0;
	p{
		font-size: 1.1vw;
		text-align: left;
		margin: 5px 0;

		&:nth-child(1) {
			color: $smooth-black;
		}
		&:nth-child(2) {
			font-weight: bold;
		}
	}
}
