@import "../../common/colors/_colors.scss";
.Sb {
	img {
		max-width: 100%;
	}

	h1 {
		font-size: 2vw;
		margin: 10px 0 0 0;
		text-align: right;
	}

	h1 strong {
		font-weight: 100;
	}

	h4 {
		font-weight: 200;
		color: $smooth-black;
		text-align: right;
		margin: 5px 0 15px 0;
	}
}
